// ***********************************
// IMAGES
// ***********************************

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure{
	max-width: 100%;
	margin: 1em 20px;

	figcaption{
		text-align: center;
		font-size: 14px;
		color: lighten( $body-text, 50% );
		font-style: italic;
		letter-spacing: -.5px;
	}
}

embed, iframe, object {
	max-width: 100%;
}