@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic');

em {
  font-family: 'Droid Serif', serif;
}
header {
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1em;
  background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
#header-inner {
  max-height: 90px;
  padding: 20px 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
#logo {
  width: 140px;
  display: inline-block;
  vertical-align: middle;
  max-width: 240px;
  padding: 0;
  box-sizing: border-box;
}
#logo a {
  display: block;
  max-width: 100%;
}
#logo img {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100%;
}
#toggle {
  display: inline-block;
  box-sizing: border-box;
  z-index: 100;
  width: 10%;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -8px;
  padding: 0;
  vertical-align: middle;
  line-height: 16px;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 22px;
  height: 22px;
}
#toggle .top-bar, #toggle .middle-bar, #toggle .bottom-bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
#toggle .middle-bar {
  top: 7px;
}
#toggle .bottom-bar {
  top: 14px;
}

#main-nav {
  position: absolute;
  top: 2.7em;
  right: 20px;
  z-index: 100;
}
#main-nav ul {
  text-align: right;
}
#main-nav li {
  list-style: none;
  display: inline-block;
}
#main-nav li a {
  display: block;
  font-weight: 400;
  line-height: 1em;
  padding: 1em 1.75em;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgba(255,255,255,.7);
  transition: color .1s 0s ease-in-out;
}
#main-nav li a:hover {
  color: #fff;
}
#main-nav ul li:last-child a {
  border: 2px solid #fff;
  transition: background .1s 0s ease-in-out, color .1s 0s ease-in-out;
}
#main-nav ul li:last-child a:hover {
  background-color: #fff;
  color: #181818;
}

.banner {
  padding: 60px 0 20px;
  background-color: #000;
  position: relative;
  overflow: hidden;
  min-height: 240px;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.banner .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 99;
}
.banner figure {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.banner .description {
  z-index: 100;
  position: relative;
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.banner .description p {
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 0;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}
.banner .description strong {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.banner .description a {
  display: inline-block;
  line-height: 1em;
  padding: 1em 1.75em;
  font-size: .8em;
  letter-spacing: 2px;
  margin: 15px 0;
  text-transform: uppercase;
  background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #fff;
  color: #fff;
  transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.banner .description a:hover {
  background-color: #fff;
  color: #181818;
}

.page-content {
  padding: 100px 20px;
  max-width: 1020px;
  margin: 0 auto;
}

footer {
  color: rgba(255,255,255,.4);
  background-color: #1f1f1f;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.footer-inner {
  padding: 1em;
  text-align: center;
  max-width: 1020px;
  margin: auto;
}
.footer-social {
  padding: 2.5em 0 1.5em;
}
.back-to-top {
  padding: 1.5em 0;
}
.footer-logo, .footer-nav {
  padding: 1em 0;
}
.back-to-top a, .footer-nav a, nav.social a {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .8em;
}
.back-to-top a {
  color: #fff;
}
.footer-logo img {
  width: 60px;
}
nav.footer {
  line-height: 1.4;
}
nav.footer a, nav.social a {
  padding: 0 .5em;
  display: inline-block;
  color: rgba(255,255,255,.7);
  transition: color .1s 0s ease-in-out;
}
nav.footer a:hover {
  color: #fff;
}

@media (max-width: 640px) {
  #header-inner {
    display: block;
  }
  #logo img {
    max-height: 50px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

@media (max-width: 860px) {
  #main-nav {
    display: none;
  }
}

@media (min-width: 641px) {
  .banner {
    padding: 180px 0 140px;
  }
  .banner .description em {
    font-size: 20px;
  }
  .banner .description strong {
    font-size: 60px;
    line-height: 1;
    letter-spacing: 4px;
  }
  .banner .description p:last-child a:last-child {
    margin-left: 1em;
  }
}

@media (min-width: 861px) {
  #toggle {
    display: none;
  }
}
