section.banner#banner
  .overlay
  figure.thumnail(style="background: url('/img/banner-"+ pageTitle.toLowerCase() +".jpg') center 0% / cover no-repeat;")
  .description
    p
      em= subheading
    p
      strong= heading
