mixin color-overlay()
  case pageTitle
    when "Home"
      .overlay.blue-green
    when "About"
      .overlay.pink-orange(style="opacity: .5;")
    when "Resume"
      .overlay.purple-blue
    when "Contact"
      .overlay.green-yellow(style="opacity: .5;")
    default
      .overlay

section.banner
  +color-overlay()
  figure.thumnail(style="background: url('/img/banner-"+ pageTitle.toLowerCase() +".jpg') center 0% / cover no-repeat;")
  .description
    p
      em= subheading
    p
      strong= heading
    if (pageTitle == 'Test')
      p
        a.btn(href="/resume") Resume
        a.btn(href="/contact") Contact
