section.banner
  .overlay
  figure.thumnail
  .description
    p
      em= subheading
    p
      strong= heading
    if (pageTitle == 'Home')
      p
        a(href="/resume") Resume
        a(href="/contact") Contact
