section.banner
  .overlay
  figure.thumnail(style="background: url('/img/banner-"+pageTitle.toLowerCase()+".jpg') 40% / cover")
  .description
    p
      em= subheading
    p
      strong= heading
    if (pageTitle == 'Home')
      p
        a(href="/resume") Resume
        &nbsp;
        a(href="/contact") Contact
