mixin nav-item(name, url)
  a(href=url)= name
  
mixin color-bar()
  case pageTitle
    when "Home"
      .color-bar.blue-green
    when "About"
      .color-bar.pink-orange
    when "Resume"
      .color-bar.purple-blue
    when "Contact"
      .color-bar.green-yellow
    default
      .color-bar
      
footer
  +color-bar()
  .footer-inner
    .back-to-top
      a(href="#header") Back to Top
    .footer-logo
      a(href="#header")
        img(src="/img/logo.svg")
    .footer-nav
      nav.footer
        +nav-item('Home', '/')
        //- +nav-item('Projects', '/projects')
        //- +nav-item('Blog', '/blog')
        //- +nav-item('About', '/about.html')
        +nav-item('Resume', '/resume')
        //- +nav-item('Contact', '/contact.html')
    .copyright
      small &copy; 2015&nbsp;Seth Mcleod.&nbsp;All rights reserved.
    .footer-social
      nav.social
        a(href="https://github.com/sethmcleod" target="_blank" style="background-image: url('/img/svg/github.svg')")
        a(href="https://instagram.com/seth_mcleod" target="_blank" style="background-image: url('/img/svg/instagram.svg')") 
        a(href="https://linkedin.com/profile/view?id=353748969" target="_blank" style="background-image: url('/img/svg/linkedin.svg')")
        a(href="https://twitter.com/sthmcleod" target="_blank" style="background-image: url('/img/svg/twitter.svg')") 
        a(href="mailto:me@sethmcleod.com" style="background-image: url('/img/svg/mail.svg')") 
