mixin nav-item(name, url)
  a(href=url)= name
      
footer
  .color-bar
  .footer-inner
    nav.social
      a(href="https://dribbble.com/sethm" target="_blank" data-hint="Dribbble")
        i.icon-dribbble
      a(href="https://github.com/sethmcleod" target="_blank" data-hint="Github")
        i.icon-github
      a(href="https://linkedin.com/in/sethmcleod" target="_blank" data-hint="LinkedIn")
        i.icon-linkedin
      a(href="https://twitter.com/mcleodstudio" target="_blank" data-hint="Twitter")
        i.icon-twitter
      a(href="https://instagram.com/mcleod.studio" target="_blank" data-hint="Instagram")
        i.icon-instagram
      a(href="http://codepen.io/sethmcleod" target="_blank" data-hint="CodePen")
        i.icon-codepen
      a(href="mailto:me@sethmcleod.com" id="email" data-hint="me@sethmcleod.com")
        i.icon-mail
