mixin nav-item(name, url)
  a(href=url)= name
      
footer
  .color-bar
  .footer-inner
    nav.social
      a(href="https://github.com/sethmcleod" target="_blank" data-hint="Github" style="background-image: url('/img/svg/github.svg')")
      a(href="https://twitter.com/mcleodstudio" target="_blank" data-hint="Twitter" style="background-image: url('/img/svg/twitter.svg')")
      a(href="https://linkedin.com/in/sethmcleod" target="_blank" data-hint="LinkedIn" style="background-image: url('/img/svg/linkedin.svg')")
      a(href="https://instagram.com/mcleod.studio" target="_blank" data-hint="Instagram" style="background-image: url('/img/svg/instagram.svg')") 
      a(href="http://codepen.io/sethmcleod/" target="_blank" data-hint="CodePen" style="background-image: url('/img/svg/codepen.svg')")
      a(href="javascript:;" id="email" data-hint="me@sethmcleod.com" style="background-image: url('/img/svg/mail.svg')") 
