head
  meta(charset="utf-8")
  title
    if (pageTitle == 'Home')
      = 'Seth Mcleod - Front End Developer'
    else 
      = 'Seth Mcleod - ' + pageTitle
  meta(name="description" content="This is my personal website")
  meta(name="keywords" content="seth,mcleod,graphic,design,development,web")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
  include inline
  script(type="javascript" src="js/modernizr.min.js")
