head
  meta(charset="utf-8")
  title Seth Mcleod - Designer &amp; Engineer
  meta(name="description" content="I design and build quality web experiences.")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
  include inline
  script(type="javascript" src="js/modernizr.min.js")
  noscript
    link(rel="stylesheet" href="css/style.css")
