head
  meta(charset="utf-8")
  title
    if (pageTitle == 'Home')
      = 'Seth Mcleod - Front End Developer'
    else 
      = 'Seth Mcleod - ' + pageTitle
  meta(name="description" content="I build internet")
  meta(name="keywords" content="seth,mcleod,graphic,design,web,development,css,javascript")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
  include inline
  script(type="javascript" src="js/modernizr.min.js")
  noscript
    link(rel="stylesheet" href="css/style.css")
