header#header
  #header-inner
    #logo
      a(href="/")
        img(src="/img/logo.svg")
    label.mobile-toggle(for="nav-toggle")
      .top-bar
      .middle-bar
      .bottom-bar
    include main-nav
