style.
  .banner {
    background-color: #000;
    position: relative;
    overflow: hidden;
    min-height: 200px;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    opacity: .6;
  }
  .blue-green .overlay, .blue-green .color-bar  {
    background: linear-gradient(45deg, #2072AB 10%, #71b280 80%);
  }
  .green-yellow .overlay, .green-yellow .color-bar {
    background: linear-gradient(45deg, #338C4E 10%, #E2D96F 90%);
  }
  .purple-blue .overlay, .purple-blue .color-bar {
    background: linear-gradient(45deg, #5f2c82 10%, #49a09d 80%);
  }
  .pink-orange .overlay, .pink-orange .color-bar {
    background: linear-gradient(45deg, #dd2476 10%, #ff512f 70%);
  }
  .green-yellow .banner .overlay, .pink-orange .banner .overlay {
    opacity: .5;
  }
  .page-content {
    padding: 2em 1.5em 4em;
  }
  .centered {
    text-align: center;
  }
  h1 {
    text-transform: initial;
    padding: 1em 0 1em;
    font-size: 1.6em;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 1em 0 .5em;
    letter-spacing: 1px;
    font-size: 1.2em;
    line-height: 1;
  }
  hr {
    margin: 2em 0;
  }
  header, aside {
    display: none;
  }
