style.
  .hidden {
    display: none !important;
    visibility: hidden;
  }
  .page-content {
    padding: 2em 1.5em 4em;
  }
  h1 {
    text-transform: initial;
    padding: 1em 0 1em;
    font-size: 1.6em;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 1em 0 .5em;
    letter-spacing: 1px;
    font-size: 1.2em;
    line-height: 1;
  }
  hr {
    margin: 2em 0;
  }
  header, aside {
    display: none;
  }
