style.
  .banner {
    background-color: #000;
    position: relative;
    overflow: hidden;
    min-height: 200px;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    opacity: .6;
  }
  .blue-green .overlay, .blue-green .color-bar  {
    background: #1974BF;
    background: -webkit-linear-gradient(45deg, #1974BF , #45B75F);
    background: linear-gradient(45deg, #1974BF , #45B75F);
  }
  .green-blue .overlay, .green-blue .color-bar {
    background: #21ACD2;
    background: -webkit-linear-gradient(-45deg, #21ACD2 , #5DAD70);
    background: linear-gradient(-45deg, #21ACD2 , #5DAD70);
  }
  .orange-yellow .overlay, .orange-yellow .color-bar {
    opacity: .5;
    background: #FF8508;
    background: -webkit-linear-gradient(to right, #FF8508 , #FFD637);
    background: linear-gradient(to right, #FF8508 , #FFD637);
  }
  .purple-blue .overlay, .purple-blue .color-bar {
    background: #8359B9;
    background: -webkit-linear-gradient(-45deg, #32ACBB , #8359B9);
    background: linear-gradient(-45deg, #32ACBB , #8359B9);
  }
  .pink-orange .overlay, .pink-orange .color-bar {
    background: #FF8F2F;
    background: -webkit-linear-gradient(45deg, #dd2476, #FF8F2F);
    background: linear-gradient(45deg, #dd2476, #FF8F2F);
  }
  .page-content {
    padding: 2em 1.5em 4em;
  }
  .centered {
    text-align: center;
  }
  h1 {
    text-transform: initial;
    padding: 1em 0 1em;
    font-size: 1.6em;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 1em 0 .5em;
    letter-spacing: 1px;
    font-size: 1.2em;
    line-height: 1;
  }
  hr {
    margin: 2em 0;
  }
  header, aside {
    display: none;
  }
