mixin nav-item(name, url)
  if name == pageTitle
    li.active
      a(href=url)= name
  else
    li
      a(href=url)= name
ul
  //- +nav-item('Blog', '/blog')
  +nav-item('About', '/about')
  +nav-item('Contact', '/contact')
  +nav-item('Resume', '/resume')
