script.
  var cb = function() {
    var b = document.createElement('link'),
        s = document.createElement('link');
    b.rel = 'stylesheet'; b.href = 'css/base.css';
    s.rel = 'stylesheet'; s.href = 'css/style.css';
    var h = document.getElementsByTagName('head')[0]; 
    h.appendChild(b); h.appendChild(s);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
