script.
  var cb = function() {
    var s = document.createElement('link'),
        h = document.getElementsByTagName('head')[0]; 
    s.rel = 'stylesheet'; s.href = 'css/style.css';
    h.appendChild(s);
  }, raf = requestAnimationFrame || mozRequestAnimationFrame ||
  webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
