- var pageTitle = 'About'
- var subheading = 'Read ahead and learn'
- var heading = 'About Me'

include includes/ascii.html

doctype html
html(lang="en")
  include includes/head
    include includes/side-nav
    include includes/header
    #wrapper
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content.centered
            h1 A Few Facts
            p My background is in graphic and web design but in the past few years I’ve turned my focus to front end development. I stay as familiar as I can with development trends, and popular frameworks and libraries. My skills are very well-rounded, ranging from front end to back end, but I primarily use HTML5, CSS3 and Javascript to build clean, user-friendly web sites and applications. I see my major strengths being my creativity, flexibility and attention to detail.
            hr
            h1 My Daily Life
            p I live in the port-side city of Saint Augustine, Florida, where I generally spend my time indulging in my love for biking, skating, and craft beer. I have many passions like: good food, music, video games and yoga. I enjoy working with others, especially in a development setting, and have a hard-coded desire to push myself. I’m addicted to learning, and love solving problems and tackling challenges. 
            .images
              a(href="https://instagram.com/p/4AapMLDE15" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/1.jpg")
              a(href="https://instagram.com/p/wt-zffDE3h" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/2.jpg")
              a(href="https://instagram.com/p/rux-FrDEyp" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/3.jpg")
              a(href="https://instagram.com/p/wz6rlujEyH" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/4.jpg")
              a(href="https://instagram.com/p/2ErhYlOmPs" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/5.jpg")
              a(href="https://instagram.com/p/0hEynSDExA" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/6.jpg")
              a(href="https://instagram.com/p/zGUYN7jE51" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/7.jpg")
              a(href="https://instagram.com/p/2eQEhfDE1N" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/8.jpg")
          section.banner.small
            .overlay
            figure.thumnail(style="background: url('/img/banner-menuat.jpg') center 90% / cover no-repeat;")
            .description
              p
                em Currently working at 
              p
                strong Menuat
          section.page-content.centered
            h1 Menuat Digital Signage
            p #[a(href="https://menuat.com" target="_blank") Menuat] is the all-digital menu service for restaurants and bars. With our software, restaurant owners can update all their menus at one time and in one place, using high-resolution digital flat screen panels in the restaurant and responsive mobile menus for the digital space.
            p I work with a close knit team of experts who strive to have a fun, collaborative work environment where ideas and responsibility are shared. Working with multiple technologies, I develop web software and CMS platforms, as well as building and maintaining various websites and applications. My responsibilities focus strongly on front end development (HTML5/CSS3, Javascript) and also back end architecture (CouchDB, No-SQL, Node.js).
            .images
              a(href="https://instagram.com/p/2i_SsTDE-j" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-1.jpg")
              a(href="https://instagram.com/p/1T2WjgjEyd" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-2.jpg")
              a(href="https://instagram.com/p/3e0YqkjE9i" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-3.jpg")
              a(href="https://instagram.com/p/10l-WhjEwM" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-4.jpg")
      include includes/footer
    include includes/scripts
