- var pageTitle = 'About'
- var subheading = 'Read ahead and learn'
- var heading = 'About Me'

doctype html
html(lang="en")
  include includes/head
  body
    include includes/side-nav
    #wrapper
      include includes/header
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content.centered
            h1 A few fun facts
            p Ribeye alcatra flank fatback pancetta beef ribs, landjaeger spare ribs bacon chicken pork loin. Beef ribs swine ball tip, tri-tip pork cow meatball kielbasa. Cow alcatra porchetta shoulder flank turkey jerky biltong chicken pork loin. Pork belly sausage turkey, kevin salami bacon pork loin ribeye ham hock.
            hr
            h1 My daily life
            p Rump meatball alcatra prosciutto boudin, t-bone meatloaf pancetta cow pork ball tip kevin turducken chuck. Rump ball tip alcatra porchetta tenderloin pork belly, tail tri-tip. Pig frankfurter alcatra, turducken rump tri-tip jowl cupim.
            .images
              a(href="https://instagram.com/p/4AapMLDE15" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/1.jpg")
              a(href="https://instagram.com/p/wt-zffDE3h" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/2.jpg")
              a(href="https://instagram.com/p/rux-FrDEyp" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/3.jpg")
              a(href="https://instagram.com/p/wz6rlujEyH" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/4.jpg")
              a(href="https://instagram.com/seth_mcleod" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/5.jpg")
              a(href="https://instagram.com/p/0hEynSDExA" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/6.jpg")
              a(href="https://instagram.com/p/zGUYN7jE51" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/7.jpg")
              a(href="https://instagram.com/p/2eQEhfDE1N" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/8.jpg")
            p Porchetta bacon kevin flank ground round, prosciutto cupim chuck. Meatball picanha turducken flank, pancetta capicola rump tongue ribeye tri-tip bresaola andouille. Bresaola jowl tail porchetta turkey drumstick jerky. Boudin turkey beef, turducken sausage brisket jowl meatball swine rump ham cupim short ribs alcatra filet mignon.
          section.banner.small
            +color-overlay()
            figure.thumnail(style="background: url('/img/banner-menuat.jpg') center 90% / cover no-repeat;")
            .description
              p
                em Currently working at 
              p
                strong Menuat
          section.page-content.centered
            h1 Menuat Digital Signage
            p Capicola chuck pork chop turducken turkey cupim corned beef shank fatback leberkas pork belly andouille. Shoulder ground round filet mignon, boudin corned beef sausage doner tri-tip pork chop bacon ham hock rump chicken short loin. Pork chop hamburger shankle beef venison. Jowl pork belly pig, venison turkey porchetta strip steak fatback pork loin doner landjaeger. Jowl capicola sirloin jerky, short ribs strip steak chuck ham fatback.
            .images
              a(href="https://instagram.com/p/2i_SsTDE-j" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-1.jpg")
              a(href="https://instagram.com/p/1T2WjgjEyd" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-2.jpg")
              a(href="https://instagram.com/p/3e0YqkjE9i" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-3.jpg")
              a(href="https://instagram.com/p/10l-WhjEwM" target="_blank")
                figure
                  .overlay
                  img(src="/img/insta/m-4.jpg")
      include includes/footer
    include includes/scripts
