- var pageTitle = 'About'
- var subheading = 'Read ahead and learn'
- var heading = 'About Me'

doctype html
html(lang="en")
  include includes/head
  body
    include includes/side-nav
    #wrapper
      include includes/header
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content
            .images
              a(href="https://instagram.com/p/4AapMLDE15" target="_blank")
                img(src="/img/insta/1.jpg")
              a(href="https://instagram.com/p/wt-zffDE3h" target="_blank")
                img(src="/img/insta/2.jpg")
              a(href="https://instagram.com/p/rux-FrDEyp/?taken-by=seth_mcleod" target="_blank")
                img(src="/img/insta/3.jpg")
              a(href="https://instagram.com/p/wz6rlujEyH/?taken-by=seth_mcleod" target="_blank")
                img(src="/img/insta/4.jpg")
              img(src="/img/insta/5.jpg")
              a(href="https://instagram.com/p/0hEynSDExA/?taken-by=seth_mcleod" target="_blank")
                img(src="/img/insta/6.jpg")
              a(href="https://instagram.com/p/zGUYN7jE51/?taken-by=seth_mcleod" target="_blank")
                img(src="/img/insta/7.jpg")
              a(href="https://instagram.com/p/2eQEhfDE1N/?taken-by=seth_mcleod" target="_blank")
                img(src="/img/insta/8.jpg")
      include includes/footer
    include includes/scripts
