- var pageTitle = 'Contact'
- var subheading = 'Send a friendly'
- var heading = 'Hello'

include includes/ascii.html

doctype html
html(lang="en")
  include includes/head
    include includes/side-nav
    include includes/header
    #wrapper
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content.centered
            h1 Email
            a.btn.dark(href="mailto:me@sethmcleod.com") me@sethmcleod.com
            a.btn.dark(href="mailto:sethmcleod@protonmail.com") sethmcleod@protonmail.com
            hr
            h1 PGP Key
            p Not familar with PGP Keys? #[a(href="https://eff.org/" target="_blank") The Electronic Frontier Foundation] has tutorials for #[a(href="https://ssd.eff.org/en/module/how-use-pgp-linux" target="_blank") Linux], #[a(href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x" target="_blank") Mac OS X], and #[a(href="https://ssd.eff.org/en/module/how-use-pgp-windows" target="_blank") Windows].
            pre.
              -----BEGIN PGP PUBLIC KEY BLOCK-----

              mQINBFYYSXMBEADXIPyml49TVZzxGB8m5yfS7uHynC/O1HnFrA776i0r8zG3SUbD
              m9arXp+WUG67PTxPcjf05KaMT9lTyn0Xf9I32u2F8psFP2vUKTZk3nsEZLdgf5Dz
              +dQBHdhM0j3ZYPz27ps/2SW83XL8T5WkfBW4zJkTnJBMqG64l1rhDyclbf6jXoOw
              x7p7dMiFmk2X10niIzo0LAH+ghT5excub7FjXqhkHXmJe31IdTfR4ABgY3rbWXKQ
              6Y0eapIDlhaAOaMak9VXbpIw51uy2X9R6m+aU+ObBIlO0fBolB0wx5IO/EIi923+
              Q6I449nIxF/Y8kj3dXkTyDekxRV16EyCdbShWIxY0p6Ui/4+MiebmkcOQiZjw/Sk
              h4XfSNcKZzEyzzipebkn6a4Yl9jCg/yzh43nPrI3ziy3lyEatS1RQTw5fMJConqq
              0KUqZdf45E6VP+kmlIu66TjAPOUvDteHR0XApkH+XjLBrFnYcAZfjEWpyjYk5s81
              76j7rv8AbxdR8UJA0ufwhTVxYsTAfdV5IZTKL1ooDRJjns6b3ii1gcM9WC5O1FGF
              xoUCGKnxF7hD5fXDdAq7y1NEwZVcdCGm895GuVjliw/cFkg5WiU1VIv1YVsEdPvE
              0PxOvbfFzuinaehCdPwGFhebpk/OOAgqWGckVD0LAtnE2LJa7PLu38IejwARAQAB
              tCZTZXRoIE1jbGVvZCA8c2V0aG1jbGVvZEBwcm90b25tYWlsLmNoPokCNwQTAQoA
              IQUCVhhJcwIbAwULCQgHAwUVCgkICwUWAgMBAAIeAQIXgAAKCRDkp/OdallXjSKM
              EACVncf6hOXDESIQrtRh0Q9BvMpMJtV0LsHn2u77yn+XbyEnwcdJ3k2i/6jTd6Pp
              NXU/OqMP9irlL0RY2B6dpw8VHvxXVHoFX+tj6QX9Odqbt+BJoRYFsB6mGaOMGXKm
              SMQ3ejtndQsm+IbEcZT5ewUZ0yh1LtPVIBMZJLZUsPfFQyjEmFs31aRaC0PIrQlS
              OVHEBiAMopn+OaJpX9cgY9IZWF9h7llu9uQ898e+pr7wAatynW8Rc3dLVekHj742
              S64EwWSe1xfUulrgbGegeGDVGjTWQO86Klmu57AFO3Lsby4DOhcf/N+dXU7WJb5H
              VsqF0xV6HBAynCfiQxNI3GCVz+w02HklWwgYU4pmAL1H936K0cKRf75/l0EXWO/Z
              KF4JOwopOY80w1SlkEebDv/PNTTbYl2g+VEZZM3YHNOwtP5m0r5Or4VwRsCAkfi5
              f/Jqd19JIgBUTsy6QXftWR/j4Wpu5BlUByZrV8WYDZH8aiNzSSKOTTI9WFqa7+Q2
              NU6fDhOaiixUP/+AwHK81cNB7Wp7Cd6d6UpOcD8NB4PBU3FSIGa25orrCJmLIcDC
              vLMNS8zRVRc1TkLF6pijp27vCaaVT+/c9peo9IWloiyINoyCif/CTl7UMs57GzQK
              iDESufee2gqnV9I6LE71bO0l1g2k2oxeCgtHI49Xlvg9LLkCDQRWGElzARAA76wB
              ETT30G9OP8/HPDBUerpCLL10BOWPBlDxPicOo+e8gFB7Kj9QdagiWozylxEPmdpG
              po60p1xTD20psGLq94XE5fOD3GhmZSJRx51Tjkzpa/sRrS+PqiHo9AFcI0et4PD5
              s24i/gIyuxHMuOqTWsb6xQ6XPBdFBCUJsJJ0BTiI2gxUhkSF6TGR8bz80ZzUoH/V
              6dKVGgyEZqsolXP3iliYe9UnY3SDlo8To05nACTZRBW53CSnpeN+vBPDmKt+CDnL
              tTLPHYMFSxa6zwxORMwDJg9zRJ9blSnxNokqng/Hb3p3Ps6Cj4StomrCOGW6kiqU
              W2lZg4dhKuxpcZXBNA9Ny7hi8qCEq1PxoTNnnQfFSUVAUxYYA2FSVYaPFdtJKAYv
              SYrqLgFxD6bm9K5rviMgRBhok3/K/HMEB4BzSrns7GKhJkk0IHhTA26FTIVDifNJ
              XRyWTH4mNmMWcAsxm/UoLd/I0owcxMeffAf7vtJZpWLSXIGOOFTOxRDHJtc3Lcqz
              bBrgtmKcsPYNG9F/hYrsMql8CA0VM4Rp1YAjCrAx0gtXkYPF7P7+V715W0cmL/5c
              61gSIN6lvO8BTZBfak/dhrkR7urwEzdPMfgGu/NStKZwfUsbVByC04l66mqxkidU
              gnWjJcAX8nZ2M8CNVfR9y4uyO/azk0IPbpXtLD8AEQEAAYkCHwQYAQoACQUCVhhJ
              cwIbDAAKCRDkp/OdallXjeqxEACKsxCX/h47FmNGOc1ZLAhGH6sqFDykPFKzuEhA
              OaKajZi2009ABoQxdPLqdfGTF0B9DpHLtb3BtK91JL25vEe9oZSv+ekTANHG9G6p
              6JfvXiRDLfUTZg9h6YMs4Apypn4Ncf2+wvZ93VutRAD4a5v+93Q4FgRtTNACo6C4
              J9lRx2CspIlOymE15bbYxR2P9h7r/I0mdVB/g0PTH0SQcBNtB/cRfZcig4mCyUHM
              +WFhsf71Cuh/QuVW03GQEo5+HiomB/XkHpIpmnltoPoiK6nI6tLVjf4ZtPAcnEla
              qxms1KlexZm9EEA4lg9YORWAbkRQSTvQWQvB2/ZTar66N4qSfqbbGq24ZXX2W97T
              qRNSxmd0R9HWoeU1cz+rrZ7YcBybYJb4rkFKK1dYZ6akz5Zem4XXnlNUdggxVnLy
              0QEeTDL6lAc6Itqj6jjy5/jEpVnHvc8oGI91j54p0946bC2hYVOkoN9scLV30iwI
              bSigEV1kkDTSR5IHo+t5sFugJSeB1gL4E8Rv0BvAjQVTww9ZZhc9Kuwzc5Mq+VMA
              imoqy1E6FrrhNcV+WFvV7BvNtICAHP4al9SOm9IoWJ+qP/TkUDNrLfn3zlr6TZPO
              Ol3CzpqZ1zI17W+DATz54vhgmappUxsy7ILYXp9wgGqhCt/WE8PmWrf1GGrX2YDe
              f2+9Pg==
              =mBks
              -----END PGP PUBLIC KEY BLOCK-----
            
      include includes/footer
    include includes/scripts
