- var pageTitle = 'Contact'
- var subheading = 'Send a friendly'
- var heading = 'Hello'

doctype html
html(lang="en")
  include includes/head
  body
    include includes/side-nav
    #wrapper
      include includes/header
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content
      include includes/footer
    include includes/scripts
