- var pageTitle = 'Home'
- var subheading = 'Page Not Found'
- var heading = '404'

include includes/ascii.html

doctype html
html(lang="en")
  include includes/head
  body.blue-green
    main(id="page" role="main")
      #content
        include includes/banner
        section.page-content
          .buttons
            a.btn.dark(href="/") Go Home
    include includes/footer
