- var pageTitle = 'Home'
- var subheading = 'Front End Developer'
- var heading = 'Seth Mcleod'

include includes/ascii.html

doctype html
html(lang="en")
  include includes/head
  body.blue-green
    include includes/side-nav
    include includes/header
    #wrapper
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content.centered
            h1 Hello there
            p My name is Seth Mcleod. I'm a driven, self-taught Front End developer who loves solving problems and tackling challenges. I come from a web / graphic design background and love learning new technologies and staying ahead of trends.
            h2 #[a(href="https://www.codementor.io/seth" target="_blank") Code Mentoring]
            p Need help with your web project? I'm currently providing #[a(href="https://www.codementor.io/seth" target="_blank") 1 on 1 mentoring] for topics like Javascript, jQuery, HTML5/CSS3, and User-Experience. If you have a problem you need help with, or just want some insight on the best way to move forward with a project, get in touch! I'm very excited to give back to the community and help out wherever I can. 
            hr
            h2 Heads up
            p This site is currently a work in progress, which I'm refining and updating every day. You can check out the source code on #[a(href="https://github.com/sethmcleod/sethmcleod.com" target="_blank") GitHub]. In the meantime, you can read more #[a(href="/about") about me], or check out my #[a(href="/resume") skill set and experience].
      include includes/footer
    include includes/scripts
