- var pageTitle = 'Home'
- var subheading = 'Designer & Engineer'
- var heading = 'Seth Mcleod'

include includes/ascii.html

doctype html
html(lang="en")
  include includes/head
  body.blue-green
    main(id="page" role="main")
      #content
        include includes/banner
        section.page-content
          h1 Hello there
          p.
            I'm a self-taught designer and frontend engineer who loves solving
            problems, tackling challenges and learning new things. Design and
            quality user experiences are two things I'm really passionate about.
            I want to empower people and make the internet fun and easy to use.
            The small details matter.
          p.
            Currently I run Mcleod Studio,
            a creative agency that handles design, development, and everything
            in between. I also work with a few great companies, like:
            #[a(href="https://gigster.com" target="_blank") Gigster],
            #[a(href="https://bouncelab.io" target="_blank") Bouncelab],
            #[a(href="https://leadnative.com" target="_blank") Lead Native] and
            #[a(href="https://codementor.io/seth" target="_blank") Codementor].
          p If you think I can help your team, #[a(href="mailto:me@sethmcleod.com") reach out] and let's talk!
          hr

          h1 A short bio
          p.
            I graduated high school at 15 and ran my own graphic design company
            for the next 3 years. Since then I've worked with multiple startups
            and filled a number of different roles, from designing digital
            menus for restaurants to installing security systems, all the while
            taking on freelance design and development gigs. I've got experience
            with branding, graphic/web design, networking, IT and most
            recently full-stack development with a focus on front-end.
          p.
            Coming from a design background, I have a good idea of what makes a
            quality user experience, and I keep up to date with the latest patterns
            and best practices. CSS is my forte and I'm familiar with preprocessors
            like Sass and Less, as well as frameworks like Bootstrap, Skeleton,
            Semantic UI and PureCSS. I understand JavaScript language fundamentals
            and best practices, and I'm comfortable working with most libraries
            and frameworks like React, Redux, and jQuery. I enjoy working with
            others, especially in a tech setting, and have a hard-coded
            desire to push myself. I see my major strengths being my creativity,
            flexibility, attention to detail and empathy for the users of the product.
          hr

          h1 My daily life
          p.
            I live in the mountains of North Carolina, near Asheville, with my
            fiancée #[a(href="https://instagram.com/bekahlovesgreen") Bekah], our
            grumpy cat Daisy, our (even grumpier) hedgehog
            #[a(href="https://www.instagram.com/p/BQfzzmLjsaX" target="_blank") Felix]
            and two bunnies, Rowan and Raven. We generally spend our time hiking,
            longboarding, bingeing Netflix or enjoying the food and energy of
            Asheville. When I'm not staring at a computer screen, I like to sketch,
            play video games, listen to music and (sometimes) cook. Here are some
            pictures in case you're nosey.
          .images
            a(href="https://instagram.com/p/4AapMLDE15" target="_blank")
              figure
                .overlay
                img(src="/img/insta/1.jpg")
            a(href="https://instagram.com/p/wt-zffDE3h" target="_blank")
              figure
                .overlay
                img(src="/img/insta/2.jpg")
            a(href="https://instagram.com/p/BRtn3hLhdft" target="_blank")
              figure
                .overlay
                img(src="/img/insta/3.jpg")
            a(href="https://instagram.com/p/10l-WhjEwM" target="_blank")
              figure
                .overlay
                img(src="/img/insta/4.jpg")
            a(href="https://instagram.com/p/BK_LNIJApHW" target="_blank")
              figure
                .overlay
                img(src="/img/insta/5.jpg")
            a(href="https://instagram.com/p/_MxrnLDEx9" target="_blank")
              figure
                .overlay
                img(src="/img/insta/6.jpg")
            a(href="https://instagram.com/p/0hEynSDExA" target="_blank")
              figure
                .overlay
                img(src="/img/insta/7.jpg")
            a(href="https://instagram.com/p/BAnReJWjE4t" target="_blank")
              figure
                .overlay
                img(src="/img/insta/8.jpg")

          .buttons
            a.btn.dark(href="mailto:me@sethmcleod.com") Say Hello
    include includes/footer
