- var pageTitle = 'Home'
- var subheading = 'Front End Developer'
- var heading = 'Seth Mcleod'

doctype html
html(lang="en")
  include includes/head
  body
    include includes/side-nav
    #wrapper
      include includes/header
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content.centered
            h1 Hello there
            p My name is Seth Mcleod. I'm an experienced graphic / web designer and full-stack developer with a focus on front-end technologies.
            hr
            h2 Heads up
            p This site is currently a work in progress, which I'm refining and updating every day. You can check out the source code on #[a(href="https://github.com/sethmcleod/sethmcleod.com" target="_blank") GitHub].
      include includes/footer
    include includes/scripts
