- var pageTitle = 'Resume'
- var subheading = "What I've done and"
- var heading = 'My Experience'

doctype html
html(lang="en")
  include includes/head
  body
    include includes/side-nav
    #wrapper
      include includes/header
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content
      include includes/footer
    include includes/scripts
