- var pageTitle = 'Resume'
- var subheading = 'My skill set and'
- var heading = 'Experience'

include includes/ascii.html

doctype html
html(lang="en")
  include includes/head
  body.purple-blue
    include includes/side-nav
    include includes/header
    #wrapper
      main(id="page" role="main")
        #content
          include includes/banner
          section.page-content.full
            h1 Skill Set
            .row
              .third
                h2 Proficient With
                ul
                  li HTML5 / CSS3
                  li CSS Frameworks / Resets / Grids
                  li JavaScript / jQuery / Ajax
                  li Progressive Enhancement / Graceful Degradation
                  li UX / UI / Usability
                  li Website Speed / Performance
                  li Debugging Tools (Chrome Dev Tools, Firebug)
                  li Responsive Web Design
                  li Cross-Browser / Cross-Platform Development
                  li Document Object Model (DOM)
                  li Version Control (Git / GitHub)
                  li Modular / Functional Programming
                  li Adobe Creative Suite (Photoshop, Illustrator)
              .third
                h2 Well-Versed
                ul
                  li BEM Methodology
                  li Object-oriented Programming
                  li CSS Pre-Processors (Sass, Less)
                  li Popular Web APIs (Google, Twitter, Instagram)
                  li Back-End Language (PHP)
                  li CMSs (WordPress, Kirby)
                  li NoSQL Databases (CouchDB)
                  li Data Formats (JSON, JSONP)
                  li Scaffolding &amp; Task Runner tools (Yeoman, Grunt, Gulp)
                  li Dependency Management (Npm, Bower)
                  li Web Font Embedding / Licensing
                  li Latest W3C Specifications
                  li SVG / Vector
              .third
                h2 Familiar With
                ul
                  li Modernizr
                  li Unit Testing
                  li SEO Strategies
                  li Apache2/htaccess
                  li SQL Databases
                  li RESTful Services
                  li Regular Expressions 
                  li Chrome Apps / Cordova
                  li CSS Animations / Keyframes 
                  li HTML5 APIs (Canvas, Geolocation, Video) 
                  li Javascript Frameworks (Angular, React)
                  li Templating (Handlebars, Lodash)
                  li GreenSock Animation Platform (GSAP)
            hr
            h1 Work Experience
            h2 Full Stack Developer
            h3 #[a(href="http://menuat.com" target="_blank") Menuat Digital Signage]
            h4 August 2014 - February 2016 #[span.time (1 year 6 months)] #[span.location | St Augustine, FL]
            p Working with multiple web technologies, I developed software and CMS solutions, as well as building and maintaining various websites and applications. There was a strong focus on Front End development (HTML5/CSS3, Javascript), and also some Back End (Node.js, CouchDB, No-SQL, PHP)
            h2 IT Director
            h3 #[a(href="http://domco.us" target="_blank") Domco Technology]
            h4 January 2013 - August 2014 #[span.time (1 year 8 months)] #[span.location | Asheville, NC]
            p Domco is a startup company I helped with from the ground up. First the team graphic designer, I was tasked with corporate identity; which included branding, web marketing and print design. As time continued my position took a more technical role, and by 2014 my job responsibilities entailed various levels of graphic design and front-end development for business software, as well as hardware, networking, and technical support for a multi-company corporate structure.
            hr
            h1 Education
            h2 Penn Foster
            h4 High School Diploma
            p In the middle of my eighth grade year, I left school and signed up for online classes that would allow me to work at my own pace. Over the nine months I completed my four years worth of high school material and, on June 23rd of 2010, graduated from Penn Foster Career School.
            hr
            .centered
              a.btn.dark(href="/contact.html") Interested? Say Hello.
      include includes/footer
    include includes/scripts
